@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.woff2');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.woff2');
  font-style: italic;
  font-weight: 600;
}
